doctype html
html
  head
    title 
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://kit.fontawesome.com/47791c3aa0.js' crossorigin='anonymous')
  body
    main
      block header
        header.header
          h1 Wynntils Tickets
      block content
        ul.list
            each ticket in callback
                li.ticketLink
                    - if (ticket.name !== undefined)
                        li(class=ticket.closed ? "fas.fa-lock" : "fas.fa-lock-open") 
                        a(href='/ticket/' + ticket.id) View ##{ticket.case} - #{ticket.name}
                    - else
                        li(class=ticket.closed ? "fas.fa-lock" : "fas.fa-lock-open") 
                        a(href='/ticket/' + ticket.id) View ##{ticket.case}
