doctype html
html
  head
    title 
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://kit.fontawesome.com/47791c3aa0.js' crossorigin='anonymous')
  body
    main
      block header
        header.header
          h1 Wynntils Tickets
      block content
        ul.list
          each ticket in callback
            li(style='padding-bottom: 10px')
              - if (ticket.name !== undefined)
                  i(class=ticket.closed ? "fas fa-lock" : "fas fa-lock-open" style={color: "white"}) 
                  a.ticketLink(href='/ticket/' + ticket.id) View ##{ticket.case} - #{ticket.name}
              - else
                  i(class=ticket.closed ? "fas fa-lock" : "fas fa-lock-open" style={color: "white"}) 
                  a.ticketLink(href='/ticket/' + ticket.id) View ##{ticket.case}
