extends default

block content
    div.ticket
        each chat in chatlog.logs
            div.chatline
                img(src=`https://cdn.discordapp.com/avatars/${chat.user}/${avatars[chat.user]}.png`).avatar
                div.content    
                    span.user #{chat.user}
                    - if (typeof(chat.deleted) !== 'undefined'){
                    s  #{chat.content}
                    -}else{
                    |  #{chat.content}
                    -}
                    - if (typeof(chat.attachments) !== 'undefined'){
                    each attachment in chat.attachments
                        a.attachment(href=attachment.url title=attachment.filename) 
                        i.fas.fa-file-alt(style="padding-right:5px")
                        #{attachment.filename}
                    - }
