extends default

block content
    div.ticket
        each chat in chatlog.logs
            p.chatline
                span.user #{chat.user}
                - if (typeof(chat.deleted) !== 'undefined'){
                s  #{chat.content}
                -}else{
                |  #{chat.content}
                -}
                - if (typeof(chat.attachments) !== 'undefined'){
                each attachment in chat.attachments
                    img.attachment(src=attachment.url alt=attachment.filename)
                - }
